#wave {
    .mb {
        @include mediaQueryUp(md) {
            display: none;
        }
    }

    .ds {
        display: none;

        @include mediaQueryUp(md) {
            display: block;
        }
    }
}